.about-section {
  background: #2b2b2b;
  padding-top: 96px;
  padding-bottom: 66px;
  overflow: hidden;
}

.profile-pic {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 100%;
}

.main-col {
  padding-right: 5%;
}

h2 {
  font: 22px/30px 'opensans-bold', sans-serif;
  color: #fff;
  margin-bottom: 12px;
}

p {
  line-height: 30px;
  color: #7a7a7a;
}

.contact-details {
  width: 41.66667%;
}
.columns {
  position: relative;
  padding: 0 20px;
  min-height: 1px;
  float: left;
  color: red;
}

/* column widths */
.row .one {
  width: 8.33333%;
}
.row .two {
  width: 16.66667%;
}
.row .three {
  width: 25%;
}
.row .four {
  width: 33.33333%;
}
.row .five {
  width: 41.66667%;
}
.row .six {
  width: 50%;
}
.row .seven {
  width: 58.33333%;
}
.row .eight {
  width: 66.66667%;
}
.row .nine {
  width: 75%;
}
.row .ten {
  width: 83.33333%;
}
.row .eleven {
  width: 91.66667%;
}
.row .twelve {
  width: 100%;
}
